<div id="<%= dom_id checklist %>">
  <p>
    <strong>Map:</strong>
    <%= checklist.map_id %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= checklist.store_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= checklist.user_id %>
  </p>

  <p>
    <strong>Global grade:</strong>
    <%= checklist.global_grade %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= checklist.started_at %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= checklist.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= checklist.updated_at %>
  </p>

  <p>
    <strong>Finished at:</strong>
    <%= checklist.finished_at %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= checklist.service_id %>
  </p>

  <p>
    <strong>Infrastructure:</strong>
    <%= checklist.infrastructure_id %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= checklist.slug %>
  </p>

  <p>
    <strong>User start position:</strong>
    <%= checklist.user_start_position %>
  </p>

  <p>
    <strong>User finish position:</strong>
    <%= checklist.user_finish_position %>
  </p>

  <p>
    <strong>Grade min:</strong>
    <%= checklist.grade_min %>
  </p>

  <p>
    <strong>Grade max:</strong>
    <%= checklist.grade_max %>
  </p>

</div>
