<%= form_with(model: aim_checklist_checklist) do |form| %>
  <% if aim_checklist_checklist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aim_checklist_checklist.errors.count, "error") %> prohibited this aim_checklist_checklist from being saved:</h2>

      <ul>
        <% aim_checklist_checklist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :checklist_interface_id, style: "display: block" %>
    <%= form.number_field :checklist_interface_id %>
  </div>

  <div>
    <%= form.label :map_id, style: "display: block" %>
    <%= form.number_field :map_id %>
  </div>

  <div>
    <%= form.label :store_id, style: "display: block" %>
    <%= form.number_field :store_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :global_grade, style: "display: block" %>
    <%= form.text_field :global_grade %>
  </div>

  <div>
    <%= form.label :started_at, style: "display: block" %>
    <%= form.datetime_field :started_at %>
  </div>

  <div>
    <%= form.label :created_at, style: "display: block" %>
    <%= form.datetime_field :created_at %>
  </div>

  <div>
    <%= form.label :updated_at, style: "display: block" %>
    <%= form.datetime_field :updated_at %>
  </div>

  <div>
    <%= form.label :finished_at, style: "display: block" %>
    <%= form.datetime_field :finished_at %>
  </div>

  <div>
    <%= form.label :service_id, style: "display: block" %>
    <%= form.number_field :service_id %>
  </div>

  <div>
    <%= form.label :infrastructure_id, style: "display: block" %>
    <%= form.number_field :infrastructure_id %>
  </div>

  <div>
    <%= form.label :slug, style: "display: block" %>
    <%= form.text_field :slug %>
  </div>

  <div>
    <%= form.label :user_start_position, style: "display: block" %>
    <%= form.text_field :user_start_position %>
  </div>

  <div>
    <%= form.label :user_finish_position, style: "display: block" %>
    <%= form.text_field :user_finish_position %>
  </div>

  <div>
    <%= form.label :grade_min, style: "display: block" %>
    <%= form.number_field :grade_min %>
  </div>

  <div>
    <%= form.label :grade_max, style: "display: block" %>
    <%= form.number_field :grade_max %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
