<p style="color: green"><%= notice %></p>

<%= render @aim_checklist_checklist %>

<div>
  <%= link_to "Edit this checklist", edit_aim_checklist_checklist_path(@aim_checklist_checklist) %> |
  <%= link_to "Back to checklists", aim_checklist_checklists_path %>

  <%= button_to "Destroy this checklist", @aim_checklist_checklist, method: :delete %>
</div>
