<div id="<%= dom_id request_type_worker_profile %>">
  <p>
    <strong>Name:</strong>
    <%= request_type_worker_profile.name %>
  </p>

  <p>
    <strong>Request type:</strong>
    <%= request_type_worker_profile.request_type_id %>
  </p>

  <p>
    <strong>Validation type:</strong>
    <%= request_type_worker_profile.validation_type %>
  </p>

  <p>
    <strong>Default:</strong>
    <%= request_type_worker_profile.default %>
  </p>

  <p>
    <strong>Workerable type:</strong>
    <%= request_type_worker_profile.workerable_type %>
  </p>

</div>
