<div id="<%= dom_id request_map %>">
  <p>
    <strong>Map:</strong>
    <%= request_map.map_id %>
  </p>

  <p>
    <strong>Request:</strong>
    <%= request_map.request_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= request_map.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= request_map.updated_at %>
  </p>

</div>
