<div id="<%= dom_id groups_profile %>">
  <p>
    <strong>Group:</strong>
    <%= groups_profile.group_id %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= groups_profile.profile_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= groups_profile.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= groups_profile.updated_at %>
  </p>

</div>
