<p style="color: green"><%= notice %></p>

<%= render @aim_core_groups_profile %>

<div>
  <%= link_to "Edit this groups profile", edit_aim_core_groups_profile_path(@aim_core_groups_profile) %> |
  <%= link_to "Back to groups profiles", aim_core_groups_profiles_path %>

  <%= button_to "Destroy this groups profile", @aim_core_groups_profile, method: :delete %>
</div>
