<p style="color: green"><%= notice %></p>

<%= render @aim_checklist_checklist_section_interface_group %>

<div>
  <%= link_to "Edit this checklist section interface group", edit_aim_checklist_checklist_section_interface_group_path(@aim_checklist_checklist_section_interface_group) %> |
  <%= link_to "Back to checklist section interface groups", aim_checklist_checklist_section_interface_groups_path %>

  <%= button_to "Destroy this checklist section interface group", @aim_checklist_checklist_section_interface_group, method: :delete %>
</div>
