<%= form_with(model: authorization_request_worker) do |form| %>
  <% if authorization_request_worker.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(authorization_request_worker.errors.count, "error") %> prohibited this authorization_request_worker from being saved:</h2>

      <ul>
        <% authorization_request_worker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :request_id, style: "display: block" %>
    <%= form.number_field :request_id %>
  </div>

  <div>
    <%= form.label :worker_id, style: "display: block" %>
    <%= form.number_field :worker_id %>
  </div>

  <div>
    <%= form.label :created_at, style: "display: block" %>
    <%= form.datetime_field :created_at %>
  </div>

  <div>
    <%= form.label :updated_at, style: "display: block" %>
    <%= form.datetime_field :updated_at %>
  </div>

  <div>
    <%= form.label :worker_profile_id, style: "display: block" %>
    <%= form.number_field :worker_profile_id %>
  </div>

  <div>
    <%= form.label :owner_type, style: "display: block" %>
    <%= form.number_field :owner_type %>
  </div>

  <div>
    <%= form.label :workerable_id, style: "display: block" %>
    <%= form.number_field :workerable_id %>
  </div>

  <div>
    <%= form.label :workerable_type, style: "display: block" %>
    <%= form.text_field :workerable_type %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
