<p style="color: green"><%= notice %></p>

<%= render @authorization_request_worker %>

<div>
  <%= link_to "Edit this request worker", edit_authorization_request_worker_path(@authorization_request_worker) %> |
  <%= link_to "Back to request workers", authorization_request_workers_path %>

  <%= button_to "Destroy this request worker", @authorization_request_worker, method: :delete %>
</div>
