<%= form_with(model: profile, class: "contents") do |form| %>

  <div class="form-field">
    <% invalid = profile.errors.include?(:id) %>
    <%= form.label :id, I18n.t('activerecord.attributes.profile.id'), class: "form-label" %>
    <%= form.text_field :id, class: "form-control #{'form-control-invalid' if invalid}" %>
    <%= raw(error_message(invalid, profile.errors.full_messages_for(:id))) %>
  </div>

  <div class="form-field">
    <% invalid = profile.errors.include?(:name) %>
    <%= form.label :name, I18n.t('activerecord.attributes.profile.name'), class: "form-label" %>
    <%= form.text_field :name, class: "form-control #{'form-control-invalid' if invalid}" %>
    <%= raw(error_message(invalid, profile.errors.full_messages_for(:name))) %>
  </div>

  <div class="form-field">
    <% invalid = profile.errors.include?(:description) %>
    <%= form.label :description, I18n.t('activerecord.attributes.profile.description'), class: "form-label" %>
    <%= form.text_area :description, rows: 4, class: "form-control #{'form-control-invalid' if invalid}" %>
    <%= raw(error_message(invalid, profile.errors.full_messages_for(:description))) %>
  </div>

  <div class="form-field">
    <% invalid = profile.errors.include?(:usage) %>
    <%= form.label :usage, I18n.t('activerecord.attributes.profile.usage'), class: "form-label" %>
    <%= form.text_field :usage, class: "form-control #{'form-control-invalid' if invalid}" %>
    <%= raw(error_message(invalid, profile.errors.full_messages_for(:usage))) %>
  </div>

  <div class="form-field">
    <% invalid = profile.errors.include?(:initial_role_ids) %>
    <%= form.label :initial_role_ids, I18n.t('activerecord.attributes.profile.initial_role_ids'), class: "form-label" %>
    <%= form.text_area :initial_role_ids, rows: 4, class: "form-control #{'form-control-invalid' if invalid}" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
