<tr class="table-row">
  <td class="table-cell shrink"><%= profile.id %></td>
  <td class="table-cell shrink"><%= profile.name %></td>
  <td class="table-actions max-w-fit ">
    <%= link_to raw(icon('show', 'w-4 h-4')), profile, class: "button-row button-show", data: {'tooltip-target': "tooltip-show_#{profile.id}", 'tooltip-placement': "left"} %>
    <div id="tooltip-show_<%= profile.id %>" role="tooltip" class="button-tooltip invisible transition-opacity duration-300 opacity-0 tooltip"><%= I18n.t('profiles.actions.show', id: profile.id) %><div class="tooltip-arrow" data-popper-arrow></div></div>
    <%= link_to raw(icon('edit', 'w-4 h-4')), edit_profile_path(profile), class: "button-row button-edit", data: {'tooltip-target': "tooltip-edit_#{profile.id}", 'tooltip-placement': "left"} %>
    <div id="tooltip-edit_<%= profile.id %>" role="tooltip" class="button-tooltip invisible transition-opacity duration-300 opacity-0 tooltip"><%= I18n.t('profiles.actions.edit', id: profile.id) %><div class="tooltip-arrow" data-popper-arrow></div></div>
    <%= link_to raw(icon('delete', 'w-4 h-4')), profile, class: "button-row button-delete", method: :delete, data: {'tooltip-target': "tooltip-delete_#{profile.id}", 'tooltip-placement': "left"} %>
    <div id="tooltip-delete_<%= profile.id %>" role="tooltip" class="button-tooltip invisible transition-opacity duration-300 opacity-0 tooltip"><%= I18n.t('profiles.actions.delete', id: profile.id) %><div class="tooltip-arrow" data-popper-arrow></div></div>
  </td>
</tr>
