<%= form_with(model: aim_checklist_checklist_answer_options_tag) do |form| %>
  <% if aim_checklist_checklist_answer_options_tag.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aim_checklist_checklist_answer_options_tag.errors.count, "error") %> prohibited this aim_checklist_checklist_answer_options_tag from being saved:</h2>

      <ul>
        <% aim_checklist_checklist_answer_options_tag.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :checklist_answer_option_id, style: "display: block" %>
    <%= form.number_field :checklist_answer_option_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
