<p style="color: green"><%= notice %></p>

<%= render @aim_checklist_checklist_answer_options_tag %>

<div>
  <%= link_to "Edit this checklist answer options tag", edit_aim_checklist_checklist_answer_options_tag_path(@aim_checklist_checklist_answer_options_tag) %> |
  <%= link_to "Back to checklist answer options tags", aim_checklist_checklist_answer_options_tags_path %>

  <%= button_to "Destroy this checklist answer options tag", @aim_checklist_checklist_answer_options_tag, method: :delete %>
</div>
