<p style="color: green"><%= notice %></p>

<%= render @aim_core_profiles_role %>

<div>
  <%= link_to "Edit this profiles role", edit_aim_core_profiles_role_path(@aim_core_profiles_role) %> |
  <%= link_to "Back to profiles roles", aim_core_profiles_roles_path %>

  <%= button_to "Destroy this profiles role", @aim_core_profiles_role, method: :delete %>
</div>
