<div id="<%= dom_id provision_supplier %>">
  <p>
    <strong>Provision:</strong>
    <%= provision_supplier.provision_id %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= provision_supplier.supplier_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= provision_supplier.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= provision_supplier.updated_at %>
  </p>

</div>
