<p style="color: green"><%= notice %></p>

<%= render @authorization_provision_supplier %>

<div>
  <%= link_to "Edit this provision supplier", edit_authorization_provision_supplier_path(@authorization_provision_supplier) %> |
  <%= link_to "Back to provision suppliers", authorization_provision_suppliers_path %>

  <%= button_to "Destroy this provision supplier", @authorization_provision_supplier, method: :delete %>
</div>
