<p style="color: green"><%= notice %></p>

<%= render @authorization_request_type_authorizing_group %>

<div>
  <%= link_to "Edit this request type authorizing group", edit_authorization_request_type_authorizing_group_path(@authorization_request_type_authorizing_group) %> |
  <%= link_to "Back to request type authorizing groups", authorization_request_type_authorizing_groups_path %>

  <%= button_to "Destroy this request type authorizing group", @authorization_request_type_authorizing_group, method: :delete %>
</div>
