<div id="<%= dom_id authorized_map %>">
  <p>
    <strong>Request:</strong>
    <%= authorized_map.request_id %>
  </p>

  <p>
    <strong>Map:</strong>
    <%= authorized_map.map_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= authorized_map.state %>
  </p>

  <p>
    <strong>Authorized at:</strong>
    <%= authorized_map.authorized_at %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= authorized_map.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= authorized_map.updated_at %>
  </p>

</div>
