<p style="color: green"><%= notice %></p>

<%= render @aim_authorization_authorized_map %>

<div>
  <%= link_to "Edit this authorized map", edit_aim_authorization_authorized_map_path(@aim_authorization_authorized_map) %> |
  <%= link_to "Back to authorized maps", aim_authorization_authorized_maps_path %>

  <%= button_to "Destroy this authorized map", @aim_authorization_authorized_map, method: :delete %>
</div>
