<div id="<%= dom_id group_request %>">
  <p>
    <strong>Request:</strong>
    <%= group_request.request_id %>
  </p>

  <p>
    <strong>Authorizer:</strong>
    <%= group_request.authorizer_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= group_request.group_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= group_request.state %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= group_request.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= group_request.updated_at %>
  </p>

  <p>
    <strong>Authorized at:</strong>
    <%= group_request.authorized_at %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= group_request.message %>
  </p>

</div>
