<p style="color: green"><%= notice %></p>

<%= render @aim_checklist_checklist_tag_grade_weight %>

<div>
  <%= link_to "Edit this checklist tag grade weight", edit_aim_checklist_checklist_tag_grade_weight_path(@aim_checklist_checklist_tag_grade_weight) %> |
  <%= link_to "Back to checklist tag grade weights", aim_checklist_checklist_tag_grade_weights_path %>

  <%= button_to "Destroy this checklist tag grade weight", @aim_checklist_checklist_tag_grade_weight, method: :delete %>
</div>
