<p style="color: green"><%= notice %></p>

<%= render @authorization_request_workerable_worker %>

<div>
  <%= link_to "Edit this request workerable worker", edit_authorization_request_workerable_worker_path(@authorization_request_workerable_worker) %> |
  <%= link_to "Back to request workerable workers", authorization_request_workerable_workers_path %>

  <%= button_to "Destroy this request workerable worker", @authorization_request_workerable_worker, method: :delete %>
</div>
