<div id="<%= dom_id checklist_step_interface %>">
  <p>
    <strong>Name:</strong>
    <%= checklist_step_interface.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= checklist_step_interface.description %>
  </p>

  <p>
    <strong>Comments when high grade:</strong>
    <%= checklist_step_interface.comments_when_high_grade %>
  </p>

  <p>
    <strong>Pictures when high grade:</strong>
    <%= checklist_step_interface.pictures_when_high_grade %>
  </p>

  <p>
    <strong>Documents when high grade:</strong>
    <%= checklist_step_interface.documents_when_high_grade %>
  </p>

  <p>
    <strong>Has grade:</strong>
    <%= checklist_step_interface.has_grade %>
  </p>

  <p>
    <strong>Low grade:</strong>
    <%= checklist_step_interface.low_grade %>
  </p>

  <p>
    <strong>Incident interface:</strong>
    <%= checklist_step_interface.incident_interface_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= checklist_step_interface.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= checklist_step_interface.updated_at %>
  </p>

  <p>
    <strong>Required:</strong>
    <%= checklist_step_interface.required %>
  </p>

  <p>
    <strong>Skippable:</strong>
    <%= checklist_step_interface.skippable %>
  </p>

  <p>
    <strong>Grade weight:</strong>
    <%= checklist_step_interface.grade_weight %>
  </p>

  <p>
    <strong>Light question:</strong>
    <%= checklist_step_interface.light_question %>
  </p>

  <p>
    <strong>Comments when low grade:</strong>
    <%= checklist_step_interface.comments_when_low_grade %>
  </p>

  <p>
    <strong>Pictures when low grade:</strong>
    <%= checklist_step_interface.pictures_when_low_grade %>
  </p>

  <p>
    <strong>Documents when low grade:</strong>
    <%= checklist_step_interface.documents_when_low_grade %>
  </p>

  <p>
    <strong>Parent checklist step interface:</strong>
    <%= checklist_step_interface.parent_checklist_step_interface_id %>
  </p>

  <p>
    <strong>Parent checklist grade option:</strong>
    <%= checklist_step_interface.parent_checklist_grade_option_id %>
  </p>

  <p>
    <strong>Default grade:</strong>
    <%= checklist_step_interface.default_grade %>
  </p>

  <p>
    <strong>Default checklist grade option:</strong>
    <%= checklist_step_interface.default_checklist_grade_option_id %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= checklist_step_interface.rank %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= checklist_step_interface.deleted_at %>
  </p>

</div>
