<%= form_with(model: aim_checklist_checklist_step_interface) do |form| %>
  <% if aim_checklist_checklist_step_interface.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aim_checklist_checklist_step_interface.errors.count, "error") %> prohibited this aim_checklist_checklist_step_interface from being saved:</h2>

      <ul>
        <% aim_checklist_checklist_step_interface.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :comments_when_high_grade, style: "display: block" %>
    <%= form.number_field :comments_when_high_grade %>
  </div>

  <div>
    <%= form.label :pictures_when_high_grade, style: "display: block" %>
    <%= form.number_field :pictures_when_high_grade %>
  </div>

  <div>
    <%= form.label :documents_when_high_grade, style: "display: block" %>
    <%= form.number_field :documents_when_high_grade %>
  </div>

  <div>
    <%= form.label :has_grade, style: "display: block" %>
    <%= form.check_box :has_grade %>
  </div>

  <div>
    <%= form.label :low_grade, style: "display: block" %>
    <%= form.number_field :low_grade %>
  </div>

  <div>
    <%= form.label :incident_interface_id, style: "display: block" %>
    <%= form.number_field :incident_interface_id %>
  </div>

  <div>
    <%= form.label :created_at, style: "display: block" %>
    <%= form.datetime_field :created_at %>
  </div>

  <div>
    <%= form.label :updated_at, style: "display: block" %>
    <%= form.datetime_field :updated_at %>
  </div>

  <div>
    <%= form.label :required, style: "display: block" %>
    <%= form.check_box :required %>
  </div>

  <div>
    <%= form.label :skippable, style: "display: block" %>
    <%= form.check_box :skippable %>
  </div>

  <div>
    <%= form.label :grade_weight, style: "display: block" %>
    <%= form.text_field :grade_weight %>
  </div>

  <div>
    <%= form.label :light_question, style: "display: block" %>
    <%= form.check_box :light_question %>
  </div>

  <div>
    <%= form.label :comments_when_low_grade, style: "display: block" %>
    <%= form.number_field :comments_when_low_grade %>
  </div>

  <div>
    <%= form.label :pictures_when_low_grade, style: "display: block" %>
    <%= form.number_field :pictures_when_low_grade %>
  </div>

  <div>
    <%= form.label :documents_when_low_grade, style: "display: block" %>
    <%= form.number_field :documents_when_low_grade %>
  </div>

  <div>
    <%= form.label :parent_checklist_step_interface_id, style: "display: block" %>
    <%= form.number_field :parent_checklist_step_interface_id %>
  </div>

  <div>
    <%= form.label :parent_checklist_grade_option_id, style: "display: block" %>
    <%= form.number_field :parent_checklist_grade_option_id %>
  </div>

  <div>
    <%= form.label :default_grade, style: "display: block" %>
    <%= form.number_field :default_grade %>
  </div>

  <div>
    <%= form.label :default_checklist_grade_option_id, style: "display: block" %>
    <%= form.number_field :default_checklist_grade_option_id %>
  </div>

  <div>
    <%= form.label :rank, style: "display: block" %>
    <%= form.text_field :rank %>
  </div>

  <div>
    <%= form.label :deleted_at, style: "display: block" %>
    <%= form.datetime_field :deleted_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
