<p style="color: green"><%= notice %></p>

<%= render @aim_checklist_checklist_step_interface %>

<div>
  <%= link_to "Edit this checklist step interface", edit_aim_checklist_checklist_step_interface_path(@aim_checklist_checklist_step_interface) %> |
  <%= link_to "Back to checklist step interfaces", aim_checklist_checklist_step_interfaces_path %>

  <%= button_to "Destroy this checklist step interface", @aim_checklist_checklist_step_interface, method: :delete %>
</div>
