<div id="<%= dom_id checklist_section %>">
  <p>
    <strong>Checklist:</strong>
    <%= checklist_section.checklist_id %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= checklist_section.grade %>
  </p>

  <p>
    <strong>Grade weight:</strong>
    <%= checklist_section.grade_weight %>
  </p>

  <p>
    <strong>Grade weight percentage:</strong>
    <%= checklist_section.grade_weight_percentage %>
  </p>

  <p>
    <strong>Skipped:</strong>
    <%= checklist_section.skipped %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= checklist_section.rank %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= checklist_section.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= checklist_section.updated_at %>
  </p>

</div>
