<p style="color: green"><%= notice %></p>

<%= render @aim_checklist_checklist_section %>

<div>
  <%= link_to "Edit this checklist section", edit_aim_checklist_checklist_section_path(@aim_checklist_checklist_section) %> |
  <%= link_to "Back to checklist sections", aim_checklist_checklist_sections_path %>

  <%= button_to "Destroy this checklist section", @aim_checklist_checklist_section, method: :delete %>
</div>
