<div id="<%= dom_id checklist_category_group %>">
  <p>
    <strong>Checklist category:</strong>
    <%= checklist_category_group.checklist_category_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= checklist_category_group.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= checklist_category_group.updated_at %>
  </p>

  <p>
    <strong>Relation kind:</strong>
    <%= checklist_category_group.relation_kind %>
  </p>

</div>
