<p style="color: green"><%= notice %></p>

<%= render @aim_checklist_checklist_category_group %>

<div>
  <%= link_to "Edit this checklist category group", edit_aim_checklist_checklist_category_group_path(@aim_checklist_checklist_category_group) %> |
  <%= link_to "Back to checklist category groups", aim_checklist_checklist_category_groups_path %>

  <%= button_to "Destroy this checklist category group", @aim_checklist_checklist_category_group, method: :delete %>
</div>
