<div id="<%= dom_id map %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= map.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Top left x:</strong>
    <%= map.top_left_x %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Top left y:</strong>
    <%= map.top_left_y %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Max zoom:</strong>
    <%= map.max_zoom %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bottom right x:</strong>
    <%= map.bottom_right_x %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Max resolution:</strong>
    <%= map.max_resolution %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bottom right y:</strong>
    <%= map.bottom_right_y %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Stores show from zoom:</strong>
    <%= map.stores_show_from_zoom %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Features radius:</strong>
    <%= map.features_radius %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Range:</strong>
    <%= map.range %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Street:</strong>
    <%= map.street %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Street number:</strong>
    <%= map.street_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Parent:</strong>
    <%= map.parent_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lft:</strong>
    <%= map.lft %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rgt:</strong>
    <%= map.rgt %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Depth:</strong>
    <%= map.depth %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Kind:</strong>
    <%= map.kind %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Alias:</strong>
    <%= map.alias %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Created at:</strong>
    <%= map.created_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Updated at:</strong>
    <%= map.updated_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last update:</strong>
    <%= map.last_update %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last change:</strong>
    <%= map.last_change %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Zoom matrix:</strong>
    <%= map.zoom_matrix %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Adjustment data:</strong>
    <%= map.adjustment_data %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Map radius:</strong>
    <%= map.map_radius %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Map latitude:</strong>
    <%= map.map_latitude %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Map longitude:</strong>
    <%= map.map_longitude %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Time between notifications:</strong>
    <%= map.time_between_notifications %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Max notifications per period:</strong>
    <%= map.max_notifications_per_period %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notifications time period:</strong>
    <%= map.notifications_time_period %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Scaled stores:</strong>
    <%= map.scaled_stores %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Properties:</strong>
    <%= map.properties %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Until zoom:</strong>
    <%= map.until_zoom %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Real min zoom:</strong>
    <%= map.real_min_zoom %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Initial zoom:</strong>
    <%= map.initial_zoom %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Authorization user manual file name:</strong>
    <%= map.authorization_user_manual_file_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Authorization user manual content type:</strong>
    <%= map.authorization_user_manual_content_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Authorization user manual file size:</strong>
    <%= map.authorization_user_manual_file_size %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Authorization user manual updated at:</strong>
    <%= map.authorization_user_manual_updated_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Loader version:</strong>
    <%= map.loader_version %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tiles version:</strong>
    <%= map.tiles_version %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Incident positioning system:</strong>
    <%= map.incident_positioning_system %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Country code:</strong>
    <%= map.country_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Region code:</strong>
    <%= map.region_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Map classification:</strong>
    <%= map.map_classification_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Map district:</strong>
    <%= map.map_district_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Map orientation:</strong>
    <%= map.map_orientation %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fusion table on start:</strong>
    <%= map.fusion_table_on_start %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Time zone:</strong>
    <%= map.time_zone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Deleted at:</strong>
    <%= map.deleted_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sales room m2:</strong>
    <%= map.sales_room_m2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Property type:</strong>
    <%= map.property_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cost center:</strong>
    <%= map.cost_center %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Show custom fields:</strong>
    <%= map.show_custom_fields %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this map", map, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this map", edit_map_path(map), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
