<%= form_with(model: authorization_request_type_document_type) do |form| %>
  <% if authorization_request_type_document_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(authorization_request_type_document_type.errors.count, "error") %> prohibited this authorization_request_type_document_type from being saved:</h2>

      <ul>
        <% authorization_request_type_document_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :request_type_id, style: "display: block" %>
    <%= form.number_field :request_type_id %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :validation_type, style: "display: block" %>
    <%= form.number_field :validation_type %>
  </div>

  <div>
    <%= form.label :created_at, style: "display: block" %>
    <%= form.datetime_field :created_at %>
  </div>

  <div>
    <%= form.label :updated_at, style: "display: block" %>
    <%= form.datetime_field :updated_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
