<div id="<%= dom_id request_type_document_type %>">
  <p>
    <strong>Request type:</strong>
    <%= request_type_document_type.request_type_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= request_type_document_type.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= request_type_document_type.description %>
  </p>

  <p>
    <strong>Validation type:</strong>
    <%= request_type_document_type.validation_type %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= request_type_document_type.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= request_type_document_type.updated_at %>
  </p>

</div>
