<p style="color: green"><%= notice %></p>

<%= render @authorization_request_type_document_type %>

<div>
  <%= link_to "Edit this request type document type", edit_authorization_request_type_document_type_path(@authorization_request_type_document_type) %> |
  <%= link_to "Back to request type document types", authorization_request_type_document_types_path %>

  <%= button_to "Destroy this request type document type", @authorization_request_type_document_type, method: :delete %>
</div>
