<div id="<%= dom_id checklist_interface %>">
  <p>
    <strong>Name:</strong>
    <%= checklist_interface.name %>
  </p>

  <p>
    <strong>Grade min:</strong>
    <%= checklist_interface.grade_min %>
  </p>

  <p>
    <strong>Grade max:</strong>
    <%= checklist_interface.grade_max %>
  </p>

  <p>
    <strong>Grade interval:</strong>
    <%= checklist_interface.grade_interval %>
  </p>

  <p>
    <strong>Is for store:</strong>
    <%= checklist_interface.is_for_store %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= checklist_interface.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= checklist_interface.updated_at %>
  </p>

  <p>
    <strong>Icon file name:</strong>
    <%= checklist_interface.icon_file_name %>
  </p>

  <p>
    <strong>Icon content type:</strong>
    <%= checklist_interface.icon_content_type %>
  </p>

  <p>
    <strong>Icon file size:</strong>
    <%= checklist_interface.icon_file_size %>
  </p>

  <p>
    <strong>Icon updated at:</strong>
    <%= checklist_interface.icon_updated_at %>
  </p>

  <p>
    <strong>Autogenerate incident:</strong>
    <%= checklist_interface.autogenerate_incident %>
  </p>

  <p>
    <strong>Is for service:</strong>
    <%= checklist_interface.is_for_service %>
  </p>

  <p>
    <strong>Is for infrastructure:</strong>
    <%= checklist_interface.is_for_infrastructure %>
  </p>

  <p>
    <strong>Checklist category:</strong>
    <%= checklist_interface.checklist_category_id %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= checklist_interface.deleted_at %>
  </p>

  <p>
    <strong>User start position:</strong>
    <%= checklist_interface.user_start_position %>
  </p>

  <p>
    <strong>User finish position:</strong>
    <%= checklist_interface.user_finish_position %>
  </p>

  <p>
    <strong>Expiration time:</strong>
    <%= checklist_interface.expiration_time %>
  </p>

  <p>
    <strong>Is section weight:</strong>
    <%= checklist_interface.is_section_weight %>
  </p>

  <p>
    <strong>Show skip steps:</strong>
    <%= checklist_interface.show_skip_steps %>
  </p>

  <p>
    <strong>Show section of skip steps:</strong>
    <%= checklist_interface.show_section_of_skip_steps %>
  </p>

  <p>
    <strong>Show pdf skip steps:</strong>
    <%= checklist_interface.show_pdf_skip_steps %>
  </p>

  <p>
    <strong>Show pdf section of skip steps:</strong>
    <%= checklist_interface.show_pdf_section_of_skip_steps %>
  </p>

  <p>
    <strong>Aim concept:</strong>
    <%= checklist_interface.aim_concept_id %>
  </p>

  <p>
    <strong>Add photo from gallery:</strong>
    <%= checklist_interface.add_photo_from_gallery %>
  </p>

  <p>
    <strong>Show pdf unsuccess step only:</strong>
    <%= checklist_interface.show_pdf_unsuccess_step_only %>
  </p>

</div>
