<%= form_with(model: aim_checklist_checklist_interface) do |form| %>
  <% if aim_checklist_checklist_interface.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aim_checklist_checklist_interface.errors.count, "error") %> prohibited this aim_checklist_checklist_interface from being saved:</h2>

      <ul>
        <% aim_checklist_checklist_interface.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :grade_min, style: "display: block" %>
    <%= form.number_field :grade_min %>
  </div>

  <div>
    <%= form.label :grade_max, style: "display: block" %>
    <%= form.number_field :grade_max %>
  </div>

  <div>
    <%= form.label :grade_interval, style: "display: block" %>
    <%= form.number_field :grade_interval %>
  </div>

  <div>
    <%= form.label :is_for_store, style: "display: block" %>
    <%= form.check_box :is_for_store %>
  </div>

  <div>
    <%= form.label :created_at, style: "display: block" %>
    <%= form.datetime_field :created_at %>
  </div>

  <div>
    <%= form.label :updated_at, style: "display: block" %>
    <%= form.datetime_field :updated_at %>
  </div>

  <div>
    <%= form.label :icon_file_name, style: "display: block" %>
    <%= form.text_field :icon_file_name %>
  </div>

  <div>
    <%= form.label :icon_content_type, style: "display: block" %>
    <%= form.text_field :icon_content_type %>
  </div>

  <div>
    <%= form.label :icon_file_size, style: "display: block" %>
    <%= form.number_field :icon_file_size %>
  </div>

  <div>
    <%= form.label :icon_updated_at, style: "display: block" %>
    <%= form.datetime_field :icon_updated_at %>
  </div>

  <div>
    <%= form.label :autogenerate_incident, style: "display: block" %>
    <%= form.check_box :autogenerate_incident %>
  </div>

  <div>
    <%= form.label :is_for_service, style: "display: block" %>
    <%= form.check_box :is_for_service %>
  </div>

  <div>
    <%= form.label :is_for_infrastructure, style: "display: block" %>
    <%= form.check_box :is_for_infrastructure %>
  </div>

  <div>
    <%= form.label :checklist_category_id, style: "display: block" %>
    <%= form.number_field :checklist_category_id %>
  </div>

  <div>
    <%= form.label :deleted_at, style: "display: block" %>
    <%= form.datetime_field :deleted_at %>
  </div>

  <div>
    <%= form.label :user_start_position, style: "display: block" %>
    <%= form.number_field :user_start_position %>
  </div>

  <div>
    <%= form.label :user_finish_position, style: "display: block" %>
    <%= form.number_field :user_finish_position %>
  </div>

  <div>
    <%= form.label :expiration_time, style: "display: block" %>
    <%= form.text_field :expiration_time %>
  </div>

  <div>
    <%= form.label :is_section_weight, style: "display: block" %>
    <%= form.check_box :is_section_weight %>
  </div>

  <div>
    <%= form.label :show_skip_steps, style: "display: block" %>
    <%= form.check_box :show_skip_steps %>
  </div>

  <div>
    <%= form.label :show_section_of_skip_steps, style: "display: block" %>
    <%= form.check_box :show_section_of_skip_steps %>
  </div>

  <div>
    <%= form.label :show_pdf_skip_steps, style: "display: block" %>
    <%= form.check_box :show_pdf_skip_steps %>
  </div>

  <div>
    <%= form.label :show_pdf_section_of_skip_steps, style: "display: block" %>
    <%= form.check_box :show_pdf_section_of_skip_steps %>
  </div>

  <div>
    <%= form.label :aim_concept_id, style: "display: block" %>
    <%= form.number_field :aim_concept_id %>
  </div>

  <div>
    <%= form.label :add_photo_from_gallery, style: "display: block" %>
    <%= form.check_box :add_photo_from_gallery %>
  </div>

  <div>
    <%= form.label :show_pdf_unsuccess_step_only, style: "display: block" %>
    <%= form.check_box :show_pdf_unsuccess_step_only %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
