<p style="color: green"><%= notice %></p>

<%= render @aim_checklist_checklist_interface %>

<div>
  <%= link_to "Edit this checklist interface", edit_aim_checklist_checklist_interface_path(@aim_checklist_checklist_interface) %> |
  <%= link_to "Back to checklist interfaces", aim_checklist_checklist_interfaces_path %>

  <%= button_to "Destroy this checklist interface", @aim_checklist_checklist_interface, method: :delete %>
</div>
