<%= form_with(model: authorization_request_type_notificable_group) do |form| %>
  <% if authorization_request_type_notificable_group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(authorization_request_type_notificable_group.errors.count, "error") %> prohibited this authorization_request_type_notificable_group from being saved:</h2>

      <ul>
        <% authorization_request_type_notificable_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :request_type_id, style: "display: block" %>
    <%= form.number_field :request_type_id %>
  </div>

  <div>
    <%= form.label :group_id, style: "display: block" %>
    <%= form.number_field :group_id %>
  </div>

  <div>
    <%= form.label :created_at, style: "display: block" %>
    <%= form.datetime_field :created_at %>
  </div>

  <div>
    <%= form.label :updated_at, style: "display: block" %>
    <%= form.datetime_field :updated_at %>
  </div>

  <div>
    <%= form.label :deleted_at, style: "display: block" %>
    <%= form.datetime_field :deleted_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
