<div id="<%= dom_id request_type_notificable_group %>">
  <p>
    <strong>Request type:</strong>
    <%= request_type_notificable_group.request_type_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= request_type_notificable_group.group_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= request_type_notificable_group.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= request_type_notificable_group.updated_at %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= request_type_notificable_group.deleted_at %>
  </p>

</div>
