<p style="color: green"><%= notice %></p>

<%= render @authorization_request_type_notificable_group %>

<div>
  <%= link_to "Edit this request type notificable group", edit_authorization_request_type_notificable_group_path(@authorization_request_type_notificable_group) %> |
  <%= link_to "Back to request type notificable groups", authorization_request_type_notificable_groups_path %>

  <%= button_to "Destroy this request type notificable group", @authorization_request_type_notificable_group, method: :delete %>
</div>
