<div id="<%= dom_id checklist_tag %>">
  <p>
    <strong>Name:</strong>
    <%= checklist_tag.name %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= checklist_tag.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= checklist_tag.updated_at %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= checklist_tag.deleted_at %>
  </p>

  <p>
    <strong>Chosen grade option name:</strong>
    <%= checklist_tag.chosen_grade_option_name %>
  </p>

  <p>
    <strong>Override grade:</strong>
    <%= checklist_tag.override_grade %>
  </p>

  <p>
    <strong>Override checklist tag:</strong>
    <%= checklist_tag.override_checklist_tag_id %>
  </p>

  <p>
    <strong>Skipped:</strong>
    <%= checklist_tag.skipped %>
  </p>

  <p>
    <strong>Tag type:</strong>
    <%= checklist_tag.tag_type %>
  </p>

  <p>
    <strong>Grade weight:</strong>
    <%= checklist_tag.grade_weight %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= checklist_tag.rank %>
  </p>

  <p>
    <strong>Aim concept:</strong>
    <%= checklist_tag.aim_concept_id %>
  </p>

</div>
