<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= profile.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= profile.updated_at %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= profile.description %>
  </p>

  <p>
    <strong>Usage:</strong>
    <%= profile.usage %>
  </p>

  <p>
    <strong>Initial role ids:</strong>
    <%= profile.initial_role_ids %>
  </p>

</div>
