<div class="w-full">
  <div class="py-2 flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= I18n.t 'groups.properties.title' %></h1>
  </div>

  <%= render "buttons" %>

  <div class="py-2" data-controller="pagy-initializer"><%== pagy_nav(@pagy) %></div>

  <div class="py-2">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full border text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 bg-gray-200">
        <tr>
          <th scope="col" class="px-6 py-3"><%= sort_link('groups_path', I18n.t('groups.attributes.id'), 'id') %></th>
          <th scope="col" class="px-6 py-3"><%= sort_link('groups_path', I18n.t('groups.attributes.name'), 'name') %></th>
          <th scope="col" class="px-6 py-3"><%= I18n.t('operator.actions') %></th>
        </tr>
        </thead>
        <tbody>
        <% @groups.each.with_index do |group| %>
          <%= render partial: "group_row", locals: { group: group } %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render "filter" %>
