<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Serial number:</strong>
    <%= user.serial_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Encrypted password:</strong>
    <%= user.encrypted_password %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reset password token:</strong>
    <%= user.reset_password_token %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reset password sent at:</strong>
    <%= user.reset_password_sent_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Remember created at:</strong>
    <%= user.remember_created_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sign in count:</strong>
    <%= user.sign_in_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Current sign in at:</strong>
    <%= user.current_sign_in_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last sign in at:</strong>
    <%= user.last_sign_in_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Current sign in ip:</strong>
    <%= user.current_sign_in_ip %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last sign in ip:</strong>
    <%= user.last_sign_in_ip %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= user.role %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Created at:</strong>
    <%= user.created_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Updated at:</strong>
    <%= user.updated_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Token:</strong>
    <%= user.token %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Deleted at:</strong>
    <%= user.deleted_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Map:</strong>
    <%= user.map_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= user.type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rut:</strong>
    <%= user.rut %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Turn:</strong>
    <%= user.turn %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= user.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gender:</strong>
    <%= user.gender %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last names:</strong>
    <%= user.last_names %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Imei:</strong>
    <%= user.imei %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Username:</strong>
    <%= user.username %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Position:</strong>
    <%= user.position %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Zone:</strong>
    <%= user.zone_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= user.state %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State updated at:</strong>
    <%= user.state_updated_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone number:</strong>
    <%= user.phone_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">External:</strong>
    <%= user.external_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Password changed at:</strong>
    <%= user.password_changed_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last activity at:</strong>
    <%= user.last_activity_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Expired at:</strong>
    <%= user.expired_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Locked at:</strong>
    <%= user.locked_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Failed attempts:</strong>
    <%= user.failed_attempts %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Unlock token:</strong>
    <%= user.unlock_token %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Confirmation token:</strong>
    <%= user.confirmation_token %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Confirmed at:</strong>
    <%= user.confirmed_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Confirmation sent at:</strong>
    <%= user.confirmation_sent_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Unconfirmed email:</strong>
    <%= user.unconfirmed_email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Provider:</strong>
    <%= user.provider %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Initials:</strong>
    <%= user.initials %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tracking report:</strong>
    <%= user.tracking_report %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= user.slug %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Current loggable type:</strong>
    <%= user.current_loggable_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Deactivate:</strong>
    <%= user.deactivate %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Deactivation date:</strong>
    <%= user.deactivation_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Duration range:</strong>
    <%= user.duration_range_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Temporary password:</strong>
    <%= user.temporary_password %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this user", user, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this user", edit_user_path(user), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
