<div id="<%= dom_id checklist_category %>">
  <p>
    <strong>Name:</strong>
    <%= checklist_category.name %>
  </p>

  <p>
    <strong>Icon file name:</strong>
    <%= checklist_category.icon_file_name %>
  </p>

  <p>
    <strong>Icon content type:</strong>
    <%= checklist_category.icon_content_type %>
  </p>

  <p>
    <strong>Icon file size:</strong>
    <%= checklist_category.icon_file_size %>
  </p>

  <p>
    <strong>Icon updated at:</strong>
    <%= checklist_category.icon_updated_at %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= checklist_category.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= checklist_category.updated_at %>
  </p>

  <p>
    <strong>Filterable by auditor:</strong>
    <%= checklist_category.filterable_by_auditor %>
  </p>

  <p>
    <strong>Filterable by supervisor:</strong>
    <%= checklist_category.filterable_by_supervisor %>
  </p>

</div>
