<%= form_with(model: aim_authorization_history_state) do |form| %>
  <% if aim_authorization_history_state.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aim_authorization_history_state.errors.count, "error") %> prohibited this aim_authorization_history_state from being saved:</h2>

      <ul>
        <% aim_authorization_history_state.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :request_id, style: "display: block" %>
    <%= form.number_field :request_id %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :state_translate, style: "display: block" %>
    <%= form.text_field :state_translate %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.datetime_field :date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
