<div id="<%= dom_id history_state %>">
  <p>
    <strong>Request:</strong>
    <%= history_state.request_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= history_state.state %>
  </p>

  <p>
    <strong>State translate:</strong>
    <%= history_state.state_translate %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= history_state.date %>
  </p>

</div>
