<div id="<%= dom_id checklist_grade_option %>">
  <p>
    <strong>Name:</strong>
    <%= checklist_grade_option.name %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= checklist_grade_option.grade %>
  </p>

  <p>
    <strong>Incident interface:</strong>
    <%= checklist_grade_option.incident_interface_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= checklist_grade_option.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= checklist_grade_option.updated_at %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= checklist_grade_option.comments %>
  </p>

  <p>
    <strong>Pictures:</strong>
    <%= checklist_grade_option.pictures %>
  </p>

  <p>
    <strong>Documents:</strong>
    <%= checklist_grade_option.documents %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= checklist_grade_option.deleted_at %>
  </p>

  <p>
    <strong>Default tag for incident:</strong>
    <%= checklist_grade_option.default_tag_for_incident_id %>
  </p>

</div>
