<p style="color: green"><%= notice %></p>

<%= render @aim_checklist_checklist_grade_option %>

<div>
  <%= link_to "Edit this checklist grade option", edit_aim_checklist_checklist_grade_option_path(@aim_checklist_checklist_grade_option) %> |
  <%= link_to "Back to checklist grade options", aim_checklist_checklist_grade_options_path %>

  <%= button_to "Destroy this checklist grade option", @aim_checklist_checklist_grade_option, method: :delete %>
</div>
