<%= form_with(model: aim_core_users_group) do |form| %>
  <% if aim_core_users_group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aim_core_users_group.errors.count, "error") %> prohibited this aim_core_users_group from being saved:</h2>

      <ul>
        <% aim_core_users_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :group_id, style: "display: block" %>
    <%= form.text_field :group_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :created_at, style: "display: block" %>
    <%= form.datetime_field :created_at %>
  </div>

  <div>
    <%= form.label :updated_at, style: "display: block" %>
    <%= form.datetime_field :updated_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
