<p style="color: green"><%= notice %></p>

<%= render @aim_core_users_group %>

<div>
  <%= link_to "Edit this users group", edit_aim_core_users_group_path(@aim_core_users_group) %> |
  <%= link_to "Back to users groups", aim_core_users_groups_path %>

  <%= button_to "Destroy this users group", @aim_core_users_group, method: :delete %>
</div>
