<%= form_with(model: aim_checklist_checklist_interface_map) do |form| %>
  <% if aim_checklist_checklist_interface_map.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aim_checklist_checklist_interface_map.errors.count, "error") %> prohibited this aim_checklist_checklist_interface_map from being saved:</h2>

      <ul>
        <% aim_checklist_checklist_interface_map.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :checklist_interface_id, style: "display: block" %>
    <%= form.number_field :checklist_interface_id %>
  </div>

  <div>
    <%= form.label :map_id, style: "display: block" %>
    <%= form.number_field :map_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
