<p style="color: green"><%= notice %></p>

<%= render @aim_checklist_checklist_interface_map %>

<div>
  <%= link_to "Edit this checklist interface map", edit_aim_checklist_checklist_interface_map_path(@aim_checklist_checklist_interface_map) %> |
  <%= link_to "Back to checklist interface maps", aim_checklist_checklist_interface_maps_path %>

  <%= button_to "Destroy this checklist interface map", @aim_checklist_checklist_interface_map, method: :delete %>
</div>
