<p style="color: green"><%= notice %></p>

<%= render @authorization_map_group_request %>

<div>
  <%= link_to "Edit this map group request", edit_authorization_map_group_request_path(@authorization_map_group_request) %> |
  <%= link_to "Back to map group requests", authorization_map_group_requests_path %>

  <%= button_to "Destroy this map group request", @authorization_map_group_request, method: :delete %>
</div>
