<p style="color: green"><%= notice %></p>

<%= render @authorization_request_document_type_document %>

<div>
  <%= link_to "Edit this request document type document", edit_authorization_request_document_type_document_path(@authorization_request_document_type_document) %> |
  <%= link_to "Back to request document type documents", authorization_request_document_type_documents_path %>

  <%= button_to "Destroy this request document type document", @authorization_request_document_type_document, method: :delete %>
</div>
