<div class="table-paginator" data-controller="pagy-initializer"><%== pagy_nav(@pagy) %></div>

<div class="table-container">
  <table class="table-index">
    <thead class="table-header">
    <tr>
      <th scope="col" class="table-attribute"><%= sort_link('test_articles_path', I18n.t('activerecord.attributes.test_article.id'), 'id') %></th>
      <th scope="col" class="table-attribute"><%= sort_link('test_articles_path', I18n.t('activerecord.attributes.test_article.name'), 'name') %></th>
      <th scope="col" class="table-attribute-actions"><%= I18n.t('operator.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% @test_articles.each.with_index do |test_article| %>
      <%= render partial: "test_article_row", locals: { test_article: test_article } %>
    <% end %>
    </tbody>
  </table>
</div>
