<div id="<%= dom_id test_article %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Id:</strong>
    <%= test_article.id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= test_article.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this test article", test_article, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this test article", edit_test_article_path(test_article), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
