<p style="color: green"><%= notice %></p>

<%= render @authorization_request_vehicle %>

<div>
  <%= link_to "Edit this request vehicle", edit_authorization_request_vehicle_path(@authorization_request_vehicle) %> |
  <%= link_to "Back to request vehicles", authorization_request_vehicles_path %>

  <%= button_to "Destroy this request vehicle", @authorization_request_vehicle, method: :delete %>
</div>
