<div id="<%= dom_id checklist_section_interface %>">
  <p>
    <strong>Name:</strong>
    <%= checklist_section_interface.name %>
  </p>

  <p>
    <strong>Grade weight:</strong>
    <%= checklist_section_interface.grade_weight %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= checklist_section_interface.description %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= checklist_section_interface.rank %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= checklist_section_interface.deleted_at %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= checklist_section_interface.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= checklist_section_interface.updated_at %>
  </p>

</div>
