<p style="color: green"><%= notice %></p>

<%= render @aim_checklist_checklist_section_interface %>

<div>
  <%= link_to "Edit this checklist section interface", edit_aim_checklist_checklist_section_interface_path(@aim_checklist_checklist_section_interface) %> |
  <%= link_to "Back to checklist section interfaces", aim_checklist_checklist_section_interfaces_path %>

  <%= button_to "Destroy this checklist section interface", @aim_checklist_checklist_section_interface, method: :delete %>
</div>
