<div id="<%= dom_id checklist_step_interface_checklist_tag %>">
  <p>
    <strong>Checklist tag:</strong>
    <%= checklist_step_interface_checklist_tag.checklist_tag_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= checklist_step_interface_checklist_tag.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= checklist_step_interface_checklist_tag.updated_at %>
  </p>

  <p>
    <strong>Grade weight:</strong>
    <%= checklist_step_interface_checklist_tag.grade_weight %>
  </p>

</div>
