<p style="color: green"><%= notice %></p>

<%= render @aim_authorization_current_worker_document %>

<div>
  <%= link_to "Edit this current worker document", edit_aim_authorization_current_worker_document_path(@aim_authorization_current_worker_document) %> |
  <%= link_to "Back to current worker documents", aim_authorization_current_worker_documents_path %>

  <%= button_to "Destroy this current worker document", @aim_authorization_current_worker_document, method: :delete %>
</div>
