<%= form_with(model: authorization_scanned_frame) do |form| %>
  <% if authorization_scanned_frame.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(authorization_scanned_frame.errors.count, "error") %> prohibited this authorization_scanned_frame from being saved:</h2>

      <ul>
        <% authorization_scanned_frame.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :created_at, style: "display: block" %>
    <%= form.date_field :created_at %>
  </div>

  <div>
    <%= form.label :map_id, style: "display: block" %>
    <%= form.number_field :map_id %>
  </div>

  <div>
    <%= form.label :frame_text, style: "display: block" %>
    <%= form.text_area :frame_text %>
  </div>

  <div>
    <%= form.label :format_type, style: "display: block" %>
    <%= form.text_field :format_type %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
