<div id="<%= dom_id scanned_frame %>">
  <p>
    <strong>Created at:</strong>
    <%= scanned_frame.created_at %>
  </p>

  <p>
    <strong>Map:</strong>
    <%= scanned_frame.map_id %>
  </p>

  <p>
    <strong>Frame text:</strong>
    <%= scanned_frame.frame_text %>
  </p>

  <p>
    <strong>Format type:</strong>
    <%= scanned_frame.format_type %>
  </p>

</div>
