<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Encrypted password:</strong>
    <%= user.encrypted_password %>
  </p>

  <p>
    <strong>Reset password token:</strong>
    <%= user.reset_password_token %>
  </p>

  <p>
    <strong>Reset password sent at:</strong>
    <%= user.reset_password_sent_at %>
  </p>

  <p>
    <strong>Remember created at:</strong>
    <%= user.remember_created_at %>
  </p>

  <p>
    <strong>Sign in count:</strong>
    <%= user.sign_in_count %>
  </p>

  <p>
    <strong>Current sign in at:</strong>
    <%= user.current_sign_in_at %>
  </p>

  <p>
    <strong>Last sign in at:</strong>
    <%= user.last_sign_in_at %>
  </p>

  <p>
    <strong>Current sign in ip:</strong>
    <%= user.current_sign_in_ip %>
  </p>

  <p>
    <strong>Last sign in ip:</strong>
    <%= user.last_sign_in_ip %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= user.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= user.updated_at %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= user.token %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= user.deleted_at %>
  </p>

  <p>
    <strong>Map:</strong>
    <%= user.map_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= user.type %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= user.rut %>
  </p>

  <p>
    <strong>Turn:</strong>
    <%= user.turn %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user.address %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= user.gender %>
  </p>

  <p>
    <strong>Last names:</strong>
    <%= user.last_names %>
  </p>

  <p>
    <strong>Imei:</strong>
    <%= user.imei %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= user.position %>
  </p>

  <p>
    <strong>Zone:</strong>
    <%= user.zone_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= user.state %>
  </p>

  <p>
    <strong>State updated at:</strong>
    <%= user.state_updated_at %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= user.phone_number %>
  </p>

  <p>
    <strong>External:</strong>
    <%= user.external_id %>
  </p>

  <p>
    <strong>Password changed at:</strong>
    <%= user.password_changed_at %>
  </p>

  <p>
    <strong>Last activity at:</strong>
    <%= user.last_activity_at %>
  </p>

  <p>
    <strong>Expired at:</strong>
    <%= user.expired_at %>
  </p>

  <p>
    <strong>Locked at:</strong>
    <%= user.locked_at %>
  </p>

  <p>
    <strong>Failed attempts:</strong>
    <%= user.failed_attempts %>
  </p>

  <p>
    <strong>Unlock token:</strong>
    <%= user.unlock_token %>
  </p>

  <p>
    <strong>Confirmation token:</strong>
    <%= user.confirmation_token %>
  </p>

  <p>
    <strong>Confirmed at:</strong>
    <%= user.confirmed_at %>
  </p>

  <p>
    <strong>Confirmation sent at:</strong>
    <%= user.confirmation_sent_at %>
  </p>

  <p>
    <strong>Unconfirmed email:</strong>
    <%= user.unconfirmed_email %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= user.provider %>
  </p>

  <p>
    <strong>Initials:</strong>
    <%= user.initials %>
  </p>

  <p>
    <strong>Tracking report:</strong>
    <%= user.tracking_report %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= user.slug %>
  </p>

  <p>
    <strong>Current loggable type:</strong>
    <%= user.current_loggable_type %>
  </p>

  <p>
    <strong>Deactivate:</strong>
    <%= user.deactivate %>
  </p>

  <p>
    <strong>Deactivation date:</strong>
    <%= user.deactivation_date %>
  </p>

  <p>
    <strong>Duration range:</strong>
    <%= user.duration_range_id %>
  </p>

  <p>
    <strong>Temporary password:</strong>
    <%= user.temporary_password %>
  </p>

</div>
