<div id="<%= dom_id map %>">
  <p>
    <strong>Name:</strong>
    <%= map.name %>
  </p>

  <p>
    <strong>Top left x:</strong>
    <%= map.top_left_x %>
  </p>

  <p>
    <strong>Top left y:</strong>
    <%= map.top_left_y %>
  </p>

  <p>
    <strong>Max zoom:</strong>
    <%= map.max_zoom %>
  </p>

  <p>
    <strong>Bottom right x:</strong>
    <%= map.bottom_right_x %>
  </p>

  <p>
    <strong>Max resolution:</strong>
    <%= map.max_resolution %>
  </p>

  <p>
    <strong>Bottom right y:</strong>
    <%= map.bottom_right_y %>
  </p>

  <p>
    <strong>Stores show from zoom:</strong>
    <%= map.stores_show_from_zoom %>
  </p>

  <p>
    <strong>Features radius:</strong>
    <%= map.features_radius %>
  </p>

  <p>
    <strong>Range:</strong>
    <%= map.range %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= map.street %>
  </p>

  <p>
    <strong>Street number:</strong>
    <%= map.street_number %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= map.parent_id %>
  </p>

  <p>
    <strong>Lft:</strong>
    <%= map.lft %>
  </p>

  <p>
    <strong>Rgt:</strong>
    <%= map.rgt %>
  </p>

  <p>
    <strong>Depth:</strong>
    <%= map.depth %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= map.kind %>
  </p>

  <p>
    <strong>Last update:</strong>
    <%= map.last_update %>
  </p>

  <p>
    <strong>Last change:</strong>
    <%= map.last_change %>
  </p>

  <p>
    <strong>Zoom matrix:</strong>
    <%= map.zoom_matrix %>
  </p>

  <p>
    <strong>Adjustment data:</strong>
    <%= map.adjustment_data %>
  </p>

  <p>
    <strong>Command radius:</strong>
    <%= map.command_radius %>
  </p>

  <p>
    <strong>Command latitude:</strong>
    <%= map.command_latitude %>
  </p>

  <p>
    <strong>Command longitude:</strong>
    <%= map.command_longitude %>
  </p>

  <p>
    <strong>Time between notifications:</strong>
    <%= map.time_between_notifications %>
  </p>

  <p>
    <strong>Max notifications per period:</strong>
    <%= map.max_notifications_per_period %>
  </p>

  <p>
    <strong>Notifications time period:</strong>
    <%= map.notifications_time_period %>
  </p>

  <p>
    <strong>Scaled stores:</strong>
    <%= map.scaled_stores %>
  </p>

  <p>
    <strong>Properties:</strong>
    <%= map.properties %>
  </p>

  <p>
    <strong>Until zoom:</strong>
    <%= map.until_zoom %>
  </p>

  <p>
    <strong>Real min zoom:</strong>
    <%= map.real_min_zoom %>
  </p>

  <p>
    <strong>Initial zoom:</strong>
    <%= map.initial_zoom %>
  </p>

  <p>
    <strong>Authorization user manual file name:</strong>
    <%= map.authorization_user_manual_file_name %>
  </p>

  <p>
    <strong>Authorization user manual content type:</strong>
    <%= map.authorization_user_manual_content_type %>
  </p>

  <p>
    <strong>Authorization user manual file size:</strong>
    <%= map.authorization_user_manual_file_size %>
  </p>

  <p>
    <strong>Authorization user manual updated at:</strong>
    <%= map.authorization_user_manual_updated_at %>
  </p>

  <p>
    <strong>Loader version:</strong>
    <%= map.loader_version %>
  </p>

  <p>
    <strong>Tiles version:</strong>
    <%= map.tiles_version %>
  </p>

  <p>
    <strong>Incident positioning system:</strong>
    <%= map.incident_positioning_system %>
  </p>

  <p>
    <strong>Country code:</strong>
    <%= map.country_code %>
  </p>

  <p>
    <strong>Region code:</strong>
    <%= map.region_code %>
  </p>

  <p>
    <strong>Command classification:</strong>
    <%= map.command_classification_id %>
  </p>

  <p>
    <strong>Command district:</strong>
    <%= map.command_district_id %>
  </p>

  <p>
    <strong>Command orientation:</strong>
    <%= map.command_orientation %>
  </p>

  <p>
    <strong>Fusion table on start:</strong>
    <%= map.fusion_table_on_start %>
  </p>

  <p>
    <strong>Time zone:</strong>
    <%= map.time_zone %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= map.deleted_at %>
  </p>

  <p>
    <strong>Sales room m2:</strong>
    <%= map.sales_room_m2 %>
  </p>

  <p>
    <strong>Property type:</strong>
    <%= map.property_type %>
  </p>

  <p>
    <strong>Cost center:</strong>
    <%= map.cost_center %>
  </p>

  <p>
    <strong>Show custom fields:</strong>
    <%= map.show_custom_fields %>
  </p>

</div>
