<%= form_with(model: authorization_worker_document) do |form| %>
  <% if authorization_worker_document.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(authorization_worker_document.errors.count, "error") %> prohibited this authorization_worker_document from being saved:</h2>

      <ul>
        <% authorization_worker_document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :contact_id, style: "display: block" %>
    <%= form.number_field :contact_id %>
  </div>

  <div>
    <%= form.label :document_type_id, style: "display: block" %>
    <%= form.number_field :document_type_id %>
  </div>

  <div>
    <%= form.label :request_worker_profile_id, style: "display: block" %>
    <%= form.number_field :request_worker_profile_id %>
  </div>

  <div>
    <%= form.label :created_at, style: "display: block" %>
    <%= form.datetime_field :created_at %>
  </div>

  <div>
    <%= form.label :updated_at, style: "display: block" %>
    <%= form.datetime_field :updated_at %>
  </div>

  <div>
    <%= form.label :file_file_name, style: "display: block" %>
    <%= form.text_field :file_file_name %>
  </div>

  <div>
    <%= form.label :file_content_type, style: "display: block" %>
    <%= form.text_field :file_content_type %>
  </div>

  <div>
    <%= form.label :file_file_size, style: "display: block" %>
    <%= form.number_field :file_file_size %>
  </div>

  <div>
    <%= form.label :file_updated_at, style: "display: block" %>
    <%= form.datetime_field :file_updated_at %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.number_field :state %>
  </div>

  <div>
    <%= form.label :expiration_date, style: "display: block" %>
    <%= form.datetime_field :expiration_date %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :authorization_date, style: "display: block" %>
    <%= form.datetime_field :authorization_date %>
  </div>

  <div>
    <%= form.label :workerable_worker_id, style: "display: block" %>
    <%= form.number_field :workerable_worker_id %>
  </div>

  <div>
    <%= form.label :deleted_at, style: "display: block" %>
    <%= form.datetime_field :deleted_at %>
  </div>

  <div>
    <%= form.label :worker_document_version_id, style: "display: block" %>
    <%= form.number_field :worker_document_version_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
