<div id="<%= dom_id worker_document %>">
  <p>
    <strong>Contact:</strong>
    <%= worker_document.contact_id %>
  </p>

  <p>
    <strong>Document type:</strong>
    <%= worker_document.document_type_id %>
  </p>

  <p>
    <strong>Request worker profile:</strong>
    <%= worker_document.request_worker_profile_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= worker_document.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= worker_document.updated_at %>
  </p>

  <p>
    <strong>File file name:</strong>
    <%= worker_document.file_file_name %>
  </p>

  <p>
    <strong>File content type:</strong>
    <%= worker_document.file_content_type %>
  </p>

  <p>
    <strong>File file size:</strong>
    <%= worker_document.file_file_size %>
  </p>

  <p>
    <strong>File updated at:</strong>
    <%= worker_document.file_updated_at %>
  </p>

  <p>
    <strong>State:</strong>
    <%= worker_document.state %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= worker_document.expiration_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= worker_document.user_id %>
  </p>

  <p>
    <strong>Authorization date:</strong>
    <%= worker_document.authorization_date %>
  </p>

  <p>
    <strong>Workerable worker:</strong>
    <%= worker_document.workerable_worker_id %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= worker_document.deleted_at %>
  </p>

  <p>
    <strong>Worker document version:</strong>
    <%= worker_document.worker_document_version_id %>
  </p>

</div>
