<div id="<%= dom_id provision %>">
  <p>
    <strong>Name:</strong>
    <%= provision.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= provision.description %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= provision.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= provision.updated_at %>
  </p>

</div>
