<p style="color: green"><%= notice %></p>

<%= render @authorization_provision %>

<div>
  <%= link_to "Edit this provision", edit_authorization_provision_path(@authorization_provision) %> |
  <%= link_to "Back to provisions", authorization_provisions_path %>

  <%= button_to "Destroy this provision", @authorization_provision, method: :delete %>
</div>
