<%= form_with(model: authorization_request_type) do |form| %>
  <% if authorization_request_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(authorization_request_type.errors.count, "error") %> prohibited this authorization_request_type from being saved:</h2>

      <ul>
        <% authorization_request_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :store, style: "display: block" %>
    <%= form.number_field :store %>
  </div>

  <div>
    <%= form.label :infrastructure, style: "display: block" %>
    <%= form.number_field :infrastructure %>
  </div>

  <div>
    <%= form.label :created_at, style: "display: block" %>
    <%= form.datetime_field :created_at %>
  </div>

  <div>
    <%= form.label :updated_at, style: "display: block" %>
    <%= form.datetime_field :updated_at %>
  </div>

  <div>
    <%= form.label :map_id, style: "display: block" %>
    <%= form.number_field :map_id %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :deleted_at, style: "display: block" %>
    <%= form.datetime_field :deleted_at %>
  </div>

  <div>
    <%= form.label :anticipation_time, style: "display: block" %>
    <%= form.text_field :anticipation_time %>
  </div>

  <div>
    <%= form.label :add_description_to_email, style: "display: block" %>
    <%= form.check_box :add_description_to_email %>
  </div>

  <div>
    <%= form.label :global_map_options, style: "display: block" %>
    <%= form.number_field :global_map_options %>
  </div>

  <div>
    <%= form.label :attachment_number, style: "display: block" %>
    <%= form.number_field :attachment_number %>
  </div>

  <div>
    <%= form.label :check_store_request_auth, style: "display: block" %>
    <%= form.check_box :check_store_request_auth %>
  </div>

  <div>
    <%= form.label :start_working_hour, style: "display: block" %>
    <%= form.time_field :start_working_hour %>
  </div>

  <div>
    <%= form.label :end_working_hours, style: "display: block" %>
    <%= form.time_field :end_working_hours %>
  </div>

  <div>
    <%= form.label :document_type_id, style: "display: block" %>
    <%= form.number_field :document_type_id %>
  </div>

  <div>
    <%= form.label :max_duration, style: "display: block" %>
    <%= form.number_field :max_duration %>
  </div>

  <div>
    <%= form.label :max_workers_number, style: "display: block" %>
    <%= form.number_field :max_workers_number %>
  </div>

  <div>
    <%= form.label :terms_and_conditions_to_save, style: "display: block" %>
    <%= form.check_box :terms_and_conditions_to_save %>
  </div>

  <div>
    <%= form.label :from_hour_to_create, style: "display: block" %>
    <%= form.time_field :from_hour_to_create %>
  </div>

  <div>
    <%= form.label :until_hour_to_create, style: "display: block" %>
    <%= form.time_field :until_hour_to_create %>
  </div>

  <div>
    <%= form.label :show_declaration, style: "display: block" %>
    <%= form.check_box :show_declaration %>
  </div>

  <div>
    <%= form.label :update_until_approved, style: "display: block" %>
    <%= form.check_box :update_until_approved %>
  </div>

  <div>
    <%= form.label :scope_type, style: "display: block" %>
    <%= form.number_field :scope_type %>
  </div>

  <div>
    <%= form.label :min_workers_number, style: "display: block" %>
    <%= form.number_field :min_workers_number %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.number_field :category %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
