<div id="<%= dom_id request_type %>">
  <p>
    <strong>Name:</strong>
    <%= request_type.name %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= request_type.store %>
  </p>

  <p>
    <strong>Infrastructure:</strong>
    <%= request_type.infrastructure %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= request_type.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= request_type.updated_at %>
  </p>

  <p>
    <strong>Map:</strong>
    <%= request_type.map_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= request_type.description %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= request_type.deleted_at %>
  </p>

  <p>
    <strong>Anticipation time:</strong>
    <%= request_type.anticipation_time %>
  </p>

  <p>
    <strong>Add description to email:</strong>
    <%= request_type.add_description_to_email %>
  </p>

  <p>
    <strong>Global map options:</strong>
    <%= request_type.global_map_options %>
  </p>

  <p>
    <strong>Attachment number:</strong>
    <%= request_type.attachment_number %>
  </p>

  <p>
    <strong>Check store request auth:</strong>
    <%= request_type.check_store_request_auth %>
  </p>

  <p>
    <strong>Start working hour:</strong>
    <%= request_type.start_working_hour %>
  </p>

  <p>
    <strong>End working hours:</strong>
    <%= request_type.end_working_hours %>
  </p>

  <p>
    <strong>Document type:</strong>
    <%= request_type.document_type_id %>
  </p>

  <p>
    <strong>Max duration:</strong>
    <%= request_type.max_duration %>
  </p>

  <p>
    <strong>Max workers number:</strong>
    <%= request_type.max_workers_number %>
  </p>

  <p>
    <strong>Terms and conditions to save:</strong>
    <%= request_type.terms_and_conditions_to_save %>
  </p>

  <p>
    <strong>From hour to create:</strong>
    <%= request_type.from_hour_to_create %>
  </p>

  <p>
    <strong>Until hour to create:</strong>
    <%= request_type.until_hour_to_create %>
  </p>

  <p>
    <strong>Show declaration:</strong>
    <%= request_type.show_declaration %>
  </p>

  <p>
    <strong>Update until approved:</strong>
    <%= request_type.update_until_approved %>
  </p>

  <p>
    <strong>Scope type:</strong>
    <%= request_type.scope_type %>
  </p>

  <p>
    <strong>Min workers number:</strong>
    <%= request_type.min_workers_number %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= request_type.category %>
  </p>

</div>
