<p style="color: green"><%= notice %></p>

<%= render @aim_checklist_checklist_interface_concept %>

<div>
  <%= link_to "Edit this checklist interface concept", edit_aim_checklist_checklist_interface_concept_path(@aim_checklist_checklist_interface_concept) %> |
  <%= link_to "Back to checklist interface concepts", aim_checklist_checklist_interface_concepts_path %>

  <%= button_to "Destroy this checklist interface concept", @aim_checklist_checklist_interface_concept, method: :delete %>
</div>
