<%= form_with(model: authorization_request) do |form| %>
  <% if authorization_request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(authorization_request.errors.count, "error") %> prohibited this authorization_request from being saved:</h2>

      <ul>
        <% authorization_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :requester_id, style: "display: block" %>
    <%= form.number_field :requester_id %>
  </div>

  <div>
    <%= form.label :request_type_id, style: "display: block" %>
    <%= form.number_field :request_type_id %>
  </div>

  <div>
    <%= form.label :interest_point_id, style: "display: block" %>
    <%= form.number_field :interest_point_id %>
  </div>

  <div>
    <%= form.label :interest_point_type, style: "display: block" %>
    <%= form.text_field :interest_point_type %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :from_time, style: "display: block" %>
    <%= form.datetime_field :from_time %>
  </div>

  <div>
    <%= form.label :until_time, style: "display: block" %>
    <%= form.datetime_field :until_time %>
  </div>

  <div>
    <%= form.label :from_time_num, style: "display: block" %>
    <%= form.number_field :from_time_num %>
  </div>

  <div>
    <%= form.label :until_time_num, style: "display: block" %>
    <%= form.number_field :until_time_num %>
  </div>

  <div>
    <%= form.label :created_at, style: "display: block" %>
    <%= form.datetime_field :created_at %>
  </div>

  <div>
    <%= form.label :updated_at, style: "display: block" %>
    <%= form.datetime_field :updated_at %>
  </div>

  <div>
    <%= form.label :map_id, style: "display: block" %>
    <%= form.number_field :map_id %>
  </div>

  <div>
    <%= form.label :requester_kind, style: "display: block" %>
    <%= form.number_field :requester_kind %>
  </div>

  <div>
    <%= form.label :requester_role, style: "display: block" %>
    <%= form.text_field :requester_role %>
  </div>

  <div>
    <%= form.label :requester_comments, style: "display: block" %>
    <%= form.text_area :requester_comments %>
  </div>

  <div>
    <%= form.label :supplier_comments, style: "display: block" %>
    <%= form.text_area :supplier_comments %>
  </div>

  <div>
    <%= form.label :comments, style: "display: block" %>
    <%= form.text_area :comments %>
  </div>

  <div>
    <%= form.label :supplier_id, style: "display: block" %>
    <%= form.number_field :supplier_id %>
  </div>

  <div>
    <%= form.label :requester_identification, style: "display: block" %>
    <%= form.text_field :requester_identification %>
  </div>

  <div>
    <%= form.label :requester_name, style: "display: block" %>
    <%= form.text_field :requester_name %>
  </div>

  <div>
    <%= form.label :requester_phone, style: "display: block" %>
    <%= form.text_field :requester_phone %>
  </div>

  <div>
    <%= form.label :requester_email, style: "display: block" %>
    <%= form.text_field :requester_email %>
  </div>

  <div>
    <%= form.label :authorized_at, style: "display: block" %>
    <%= form.datetime_field :authorized_at %>
  </div>

  <div>
    <%= form.label :for_mall, style: "display: block" %>
    <%= form.check_box :for_mall %>
  </div>

  <div>
    <%= form.label :payroll_workers_file_name, style: "display: block" %>
    <%= form.text_field :payroll_workers_file_name %>
  </div>

  <div>
    <%= form.label :payroll_workers_content_type, style: "display: block" %>
    <%= form.text_field :payroll_workers_content_type %>
  </div>

  <div>
    <%= form.label :payroll_workers_file_size, style: "display: block" %>
    <%= form.number_field :payroll_workers_file_size %>
  </div>

  <div>
    <%= form.label :payroll_workers_updated_at, style: "display: block" %>
    <%= form.datetime_field :payroll_workers_updated_at %>
  </div>

  <div>
    <%= form.label :slug, style: "display: block" %>
    <%= form.text_field :slug %>
  </div>

  <div>
    <%= form.label :start_working_hour, style: "display: block" %>
    <%= form.time_field :start_working_hour %>
  </div>

  <div>
    <%= form.label :end_working_hour, style: "display: block" %>
    <%= form.time_field :end_working_hour %>
  </div>

  <div>
    <%= form.label :mixed, style: "display: block" %>
    <%= form.number_field :mixed %>
  </div>

  <div>
    <%= form.label :requester_type, style: "display: block" %>
    <%= form.number_field :requester_type %>
  </div>

  <div>
    <%= form.label :deleted_at, style: "display: block" %>
    <%= form.datetime_field :deleted_at %>
  </div>

  <div>
    <%= form.label :completion_time, style: "display: block" %>
    <%= form.datetime_field :completion_time %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
