<div id="<%= dom_id request %>">
  <p>
    <strong>Requester:</strong>
    <%= request.requester_id %>
  </p>

  <p>
    <strong>Request type:</strong>
    <%= request.request_type_id %>
  </p>

  <p>
    <strong>Interest point:</strong>
    <%= request.interest_point_id %>
  </p>

  <p>
    <strong>Interest point type:</strong>
    <%= request.interest_point_type %>
  </p>

  <p>
    <strong>State:</strong>
    <%= request.state %>
  </p>

  <p>
    <strong>From time:</strong>
    <%= request.from_time %>
  </p>

  <p>
    <strong>Until time:</strong>
    <%= request.until_time %>
  </p>

  <p>
    <strong>From time num:</strong>
    <%= request.from_time_num %>
  </p>

  <p>
    <strong>Until time num:</strong>
    <%= request.until_time_num %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= request.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= request.updated_at %>
  </p>

  <p>
    <strong>Map:</strong>
    <%= request.map_id %>
  </p>

  <p>
    <strong>Requester kind:</strong>
    <%= request.requester_kind %>
  </p>

  <p>
    <strong>Requester role:</strong>
    <%= request.requester_role %>
  </p>

  <p>
    <strong>Requester comments:</strong>
    <%= request.requester_comments %>
  </p>

  <p>
    <strong>Supplier comments:</strong>
    <%= request.supplier_comments %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= request.comments %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= request.supplier_id %>
  </p>

  <p>
    <strong>Requester identification:</strong>
    <%= request.requester_identification %>
  </p>

  <p>
    <strong>Requester name:</strong>
    <%= request.requester_name %>
  </p>

  <p>
    <strong>Requester phone:</strong>
    <%= request.requester_phone %>
  </p>

  <p>
    <strong>Requester email:</strong>
    <%= request.requester_email %>
  </p>

  <p>
    <strong>Authorized at:</strong>
    <%= request.authorized_at %>
  </p>

  <p>
    <strong>For mall:</strong>
    <%= request.for_mall %>
  </p>

  <p>
    <strong>Payroll workers file name:</strong>
    <%= request.payroll_workers_file_name %>
  </p>

  <p>
    <strong>Payroll workers content type:</strong>
    <%= request.payroll_workers_content_type %>
  </p>

  <p>
    <strong>Payroll workers file size:</strong>
    <%= request.payroll_workers_file_size %>
  </p>

  <p>
    <strong>Payroll workers updated at:</strong>
    <%= request.payroll_workers_updated_at %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= request.slug %>
  </p>

  <p>
    <strong>Start working hour:</strong>
    <%= request.start_working_hour %>
  </p>

  <p>
    <strong>End working hour:</strong>
    <%= request.end_working_hour %>
  </p>

  <p>
    <strong>Mixed:</strong>
    <%= request.mixed %>
  </p>

  <p>
    <strong>Requester type:</strong>
    <%= request.requester_type %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= request.deleted_at %>
  </p>

  <p>
    <strong>Completion time:</strong>
    <%= request.completion_time %>
  </p>

</div>
