<p style="color: green"><%= notice %></p>

<%= render @authorization_request %>

<div>
  <%= link_to "Edit this request", edit_authorization_request_path(@authorization_request) %> |
  <%= link_to "Back to requests", authorization_requests_path %>

  <%= button_to "Destroy this request", @authorization_request, method: :delete %>
</div>
