<div id="<%= dom_id checklist_step %>">
  <p>
    <strong>Checklist:</strong>
    <%= checklist_step.checklist_id %>
  </p>

  <p>
    <strong>Checklist grade option:</strong>
    <%= checklist_step.checklist_grade_option_id %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= checklist_step.comments %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= checklist_step.grade %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= checklist_step.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= checklist_step.updated_at %>
  </p>

  <p>
    <strong>Answered at:</strong>
    <%= checklist_step.answered_at %>
  </p>

  <p>
    <strong>Skipped:</strong>
    <%= checklist_step.skipped %>
  </p>

  <p>
    <strong>Incident slug:</strong>
    <%= checklist_step.incident_slug %>
  </p>

  <p>
    <strong>Infrastructure:</strong>
    <%= checklist_step.infrastructure_id %>
  </p>

  <p>
    <strong>Forced grade:</strong>
    <%= checklist_step.forced_grade %>
  </p>

  <p>
    <strong>Grade weight:</strong>
    <%= checklist_step.grade_weight %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= checklist_step.slug %>
  </p>

  <p>
    <strong>Grade weight percentage:</strong>
    <%= checklist_step.grade_weight_percentage %>
  </p>

  <p>
    <strong>Checklist section:</strong>
    <%= checklist_step.checklist_section_id %>
  </p>

  <p>
    <strong>Absolute grade weight percentage:</strong>
    <%= checklist_step.absolute_grade_weight_percentage %>
  </p>

  <p>
    <strong>Absolute grade percentage:</strong>
    <%= checklist_step.absolute_grade_percentage %>
  </p>

</div>
