<%= form_with(model: aim_checklist_checklist_step) do |form| %>
  <% if aim_checklist_checklist_step.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(aim_checklist_checklist_step.errors.count, "error") %> prohibited this aim_checklist_checklist_step from being saved:</h2>

      <ul>
        <% aim_checklist_checklist_step.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :checklist_id, style: "display: block" %>
    <%= form.number_field :checklist_id %>
  </div>

  <div>
    <%= form.label :checklist_grade_option_id, style: "display: block" %>
    <%= form.number_field :checklist_grade_option_id %>
  </div>

  <div>
    <%= form.label :comments, style: "display: block" %>
    <%= form.text_area :comments %>
  </div>

  <div>
    <%= form.label :grade, style: "display: block" %>
    <%= form.number_field :grade %>
  </div>

  <div>
    <%= form.label :created_at, style: "display: block" %>
    <%= form.datetime_field :created_at %>
  </div>

  <div>
    <%= form.label :updated_at, style: "display: block" %>
    <%= form.datetime_field :updated_at %>
  </div>

  <div>
    <%= form.label :answered_at, style: "display: block" %>
    <%= form.datetime_field :answered_at %>
  </div>

  <div>
    <%= form.label :skipped, style: "display: block" %>
    <%= form.check_box :skipped %>
  </div>

  <div>
    <%= form.label :incident_slug, style: "display: block" %>
    <%= form.text_field :incident_slug %>
  </div>

  <div>
    <%= form.label :infrastructure_id, style: "display: block" %>
    <%= form.number_field :infrastructure_id %>
  </div>

  <div>
    <%= form.label :forced_grade, style: "display: block" %>
    <%= form.check_box :forced_grade %>
  </div>

  <div>
    <%= form.label :grade_weight, style: "display: block" %>
    <%= form.text_field :grade_weight %>
  </div>

  <div>
    <%= form.label :slug, style: "display: block" %>
    <%= form.text_field :slug %>
  </div>

  <div>
    <%= form.label :grade_weight_percentage, style: "display: block" %>
    <%= form.text_field :grade_weight_percentage %>
  </div>

  <div>
    <%= form.label :checklist_section_id, style: "display: block" %>
    <%= form.number_field :checklist_section_id %>
  </div>

  <div>
    <%= form.label :absolute_grade_weight_percentage, style: "display: block" %>
    <%= form.text_field :absolute_grade_weight_percentage %>
  </div>

  <div>
    <%= form.label :absolute_grade_percentage, style: "display: block" %>
    <%= form.text_field :absolute_grade_percentage %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
