<p style="color: green"><%= notice %></p>

<%= render @aim_checklist_checklist_step %>

<div>
  <%= link_to "Edit this checklist step", edit_aim_checklist_checklist_step_path(@aim_checklist_checklist_step) %> |
  <%= link_to "Back to checklist steps", aim_checklist_checklist_steps_path %>

  <%= button_to "Destroy this checklist step", @aim_checklist_checklist_step, method: :delete %>
</div>
