<p style="color: green"><%= notice %></p>

<%= render @authorization_provision_request_type %>

<div>
  <%= link_to "Edit this provision request type", edit_authorization_provision_request_type_path(@authorization_provision_request_type) %> |
  <%= link_to "Back to provision request types", authorization_provision_request_types_path %>

  <%= button_to "Destroy this provision request type", @authorization_provision_request_type, method: :delete %>
</div>
