<div id="<%= dom_id test_tag %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Id:</strong>
    <%= test_tag.id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= test_tag.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this test tag", test_tag, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this test tag", edit_test_tag_path(test_tag), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
