<div id="<%= dom_id role %>">
  <p>
    <strong>Name:</strong>
    <%= role.name %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= role.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= role.updated_at %>
  </p>

  <p>
    <strong>Usage:</strong>
    <%= role.usage %>
  </p>

</div>
