<p style="color: green"><%= notice %></p>

<%= render @aim_core_role %>

<div>
  <%= link_to "Edit this role", edit_aim_core_role_path(@aim_core_role) %> |
  <%= link_to "Back to roles", aim_core_roles_path %>

  <%= button_to "Destroy this role", @aim_core_role, method: :delete %>
</div>
