<!DOCTYPE html>
<html>
  <head>
    <title>Aimmanager R1 <%= content_for?(:title) ? yield(:title) : "Main" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <%= render 'layouts/shared/navigation' %>
      <%= render 'layouts/shared/notification' %>
    </header>
    <main role="main">
      <%= yield %>
      <%#= render 'layouts/shared/test' %>
      <%#= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
